#footer
  .container.text-center
    div
      strong ShowNotify
      |  Created by
      a(href='http://chase.sillevis.net', target='_blank')  Chase Sillevis
    div
      | Code licensed under&nbsp;
      a(href='http://opensource.org/licenses/mit-license.html', target='_blank') MIT License
    div
      a(href='https://github.com/deviavir/shownotify', target='_blank') GitHub Project
      |  ·&nbsp;
      a(href='https://github.com/deviavir/shownotify/issues', target='_blank') Issues