extends ../layout

block content
  h2 API's
  hr

  .row.api-examples
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='http://choosenonviolence.org/sites/default/files/Facebook_logo_(square).png', height=40)
          a(href='/api/facebook') Facebook
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='https://github.global.ssl.fastly.net/images/modules/logos_page/Octocat.png', height=40)
          a(href='/api/github') GitHub
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='http://brooklynbrittle.com/images/twitter-icon.gif', height=40)
          a(href='/api/twitter') Twitter
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='http://37prime.net/link_icons/hackernews.png', height=40)
          a(href='/api/scraping') Web Scraping
    .col-sm-4
      .panel.panel-default
        .panel-body
          img(src='http://home.comcast.net/~krkweb/xbmc/thetvdb_icon.jpg', height=40)
          a(href='/api/thetvdb') TheTVDB