extends ../layout

block content
  h2=serie.SeriesName
  p This show first aired (or will air) #{serie.FirstAired}, and has a rating of #{serie.Rating}. Please find an overview below.
    if 'poster' in serie
      img(align='right', src='http://thetvdb.com/banners/_cache/' + serie.poster, height="150")
    if serie.IMDB_ID
      br
      br
      a(href='http://www.imdb.com/title/' + serie.IMDB_ID, title='IMDB', class='btn imdb', target='_blank') IMDB info
      br
      br
    =serie.Overview


