extends ../layout

block content
  h2 Search for 
    i=name
  hr
  table.table.table-condensed
    thead
      tr
        th Title
    tbody
      for serie in series
        tr
          td(width='85%', valign='middle', style='vertical-align: middle;')
            a(href='/shows/id/' + serie.id, style='display: block;')
              =serie.SeriesName
          td
            if 'banner' in serie
              a(href='/shows/id/' + serie.id, style='display: block;')
                img(align='middle', height='30' width='100%', src='http://thetvdb.com/banners/_cache/' + serie.banner)
  p
    br
    a.btn.btn-primary.btn-fab.btn-raised.icon-material-chevron-left.withripple(href='/shows/search')